@cvccorp-components:registry=http://nexus.services.cvc.com.br:8081/repository/cvccorp-components/
registry=https://registry.npmjs.org/
registry=https://registry.npmjs.com/

strict-peer-dependencies=false
